.menu-item-wrapper {
    position: relative;
    cursor: pointer;

    --height: 100px;
}

.menu-item {
    height: var(--height);   
    background-position: center;
    background-size: cover;
    filter: blur(5px) grayscale(.8);

    transition: filter 300ms;
}

.menu-item-wrapper:hover .menu-item {
    filter: none;

    transition: filter 300ms;
}

.menu-item__text {
    font-size: 1.5em;
    font-weight: bolder;

    position: absolute;
    height: var(--height);   
    margin: 0;
    margin-left: 20px;
    transform: translateY(calc(-1 * var(--height)));

    display: flex;
    align-items: center;

    text-shadow: 0px 0px 10px black;
}

.menu-item__icon {
    position: absolute;
    height: var(--height);
    transform: translateY(calc(-1 * var(--height)));
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: -50%;

    transition: right 300ms;
}

.menu-item-wrapper:hover .menu-item__icon {
    right: 20px;

    transition: right 500ms;
}